<a href="https://colab.research.google.com/github/ee17b031-iittp/Practice/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a notebook for practicing various pandas functions

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame(data = np.arange(0,20).reshape(5,4), index=["row_1", "row_2", "row_3", "row_4", "row_5"], columns=["col_1", "col_2", "col_3", "col_4"])
df

       col_1  col_2  col_3  col_4
row_1      0      1      2      3
row_2      4      5      6      7
row_3      8      9     10     11
row_4     12     13     14     15
row_5     16     17     18     19

In [ ]:
df.head()

       col_1  col_2  col_3  col_4
row_1      0      1      2      3
row_2      4      5      6      7
row_3      8      9     10     11
row_4     12     13     14     15
row_5     16     17     18     19

In [ ]:
df.shape

(5, 4)

Extracting data series from df

In [ ]:
df.loc["row_1"]

col_1    0
col_2    1
col_3    2
col_4    3
Name: row_1, dtype: int64

In [ ]:
type(df.loc["row_1"])

pandas.core.series.Series

In [ ]:
df.loc[:,"col_4"]

row_1     3
row_2     7
row_3    11
row_4    15
row_5    19
Name: col_4, dtype: int64

In [ ]:
type(df.loc[:,"col_4"])

pandas.core.series.Series

create csv from df

In [ ]:
df.to_csv("/content/sample.csv")

extracting data series from df using integer indices

In [ ]:
df.iloc[:,3]

row_1     3
row_2     7
row_3    11
row_4    15
row_5    19
Name: col_4, dtype: int64

In [ ]:
type(df.iloc[:,3])

pandas.core.series.Series

In [ ]:
df.iloc[1:2,:3]

       col_1  col_2  col_3
row_2      4      5      6

In [ ]:
type(df.iloc[1:2,:3])

pandas.core.frame.DataFrame

In [ ]:
df.iloc[1:2,:3].value_counts()

col_1  col_2  col_3
4      5      6        1
dtype: int64

In [ ]:
df.loc["row_1":"row_3", "col_1":"col_2"]

       col_1  col_2
row_1      0      1
row_2      4      5
row_3      8      9

In [ ]:
df["col_1"].unique()

array([ 0,  4,  8, 12, 16])

In [ ]:
df.describe()

           col_1      col_2      col_3      col_4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, row_1 to row_5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   5 non-null      int64
 1   col_2   5 non-null      int64
 2   col_3   5 non-null      int64
 3   col_4   5 non-null      int64
dtypes: int64(4)
memory usage: 372.0+ bytes

In [ ]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.5.18.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets download spscientist/students-performance-in-exams

students-performance-in-exams.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip students-performance-in-exams.zip

Archive:  students-performance-in-exams.zip
  inflating: StudentsPerformance.csv

In [ ]:
df = pd.read_csv("/content/StudentsPerformance.csv")

In [ ]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [ ]:
df["average"] = (df["math score"]+df['reading score']+df['writing score'])/3

In [ ]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333

In [ ]:
df['average'] = df.mean(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [ ]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333

In [ ]:
df["gender"].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [ ]:
df["lunch"].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [ ]:
df["race/ethnicity"].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [ ]:
df['pass/fail'] = [1 if i>=70 else 0 for i in df['average']]

In [ ]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average,pass/fail
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667,1
1,female,group C,some college,standard,completed,69,90,88,82.333333,1
2,female,group B,master's degree,standard,none,90,95,93,92.666667,1
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333,0
4,male,group C,some college,standard,none,76,78,75,76.333333,1

In [ ]:
conditions=[
    (df['average']>=90),
    (df['average']>=80) & (df['average']<90),
    (df['average']>=70) & (df['average']<80),
    (df['average']>=60) & (df['average']<70),
    (df['average']>=50) & (df['average']<60),
    (df['average']<50),
]
values = ['A', 'B', 'C', 'D', 'E', 'F']
df['grades'] = np.select(conditions, values)

In [ ]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average,pass/fail,grades
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667,1,C
1,female,group C,some college,standard,completed,69,90,88,82.333333,1,B
2,female,group B,master's degree,standard,none,90,95,93,92.666667,1,A
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333,0,F
4,male,group C,some college,standard,none,76,78,75,76.333333,1,C

In [ ]:
df['gender'] = df['gender'].str.lower()

In [ ]:
!kaggle datasets download abcsds/pokemon

Downloading pokemon.zip to /content
  0% 0.00/14.9k [00:00<?, ?B/s]
100% 14.9k/14.9k [00:00<00:00, 9.58MB/s]

In [ ]:
!unzip pokemon.zip

Archive:  pokemon.zip
  inflating: Pokemon.csv

In [ ]:
df = pd.read_csv('Pokemon.csv', index_col="#")
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False